*{
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    border: box;
}
/* NAVIGATION PART */
.nav-bar{
    height:60px;
    background-color: #045541;
    display:flex;
    justify-content:space-around;
    align-content: space-evenly;
    align-items: center;
}
/* PART1 */
.navp1{
    width: 155px;
}
.logo-img{
    width: 135px;
    height: 50px;
    margin: 1px;
    padding: 1px 8px 0px 6px; 
    background-size: cover;
    background-image: url("amazon_logo.png");  
}
/* PART2 */
.nav-address{
    display:inline;
    justify-content: center;
    align-items: center;

}
span{
    color:#cccccc;
    font-size: 12px;
    font-weight: 400;
    margin-left: 2rem;
}
.add{
    display: flex;
    height:15px;
    justify-content: center;
    align-items:center;
    padding: 1px 8px 0px 6px; 

}
.add i{
    height: 18px;
    width: 15px;
    font-size: 22px;
    color:#ffffff;
    padding-bottom: 1rem;
    
}
.add p{
    font-size: 1rem;
    height: 15px;
    color:#ffffff;
    font-weight:700;
    width:52px;
    margin-left: 16%;  
}
/* PART3 */
.search-select{
    display: flex;
    width: 485px;
    display:inline;
    justify-content: space-evenly;
    align-items: center;
}
.search{
    height:40px;
    width:450px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px 10px 0px;


}
.search select{
    height: 40px;
    width: 45px;
    border:none;
    font-size: 0.9rem;
    background-color: rgb(206, 205, 205);
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px;
}
.search input{
    height: 40px;
    width:445px;
    font-size: 0.9rem;
    justify-content:space-evenly;
    border:none;
    padding-left: 0.5rem;
}
.search i{
    height: 40px;
    width: 45px;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    border-top-right-radius: 3px;
    border-bottom-right-radius:3px;
}
/* PART4 */
.nav-account{
    display: inline;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #ffffff;
    padding-bottom: 6px;
}

.a1 p{
    height: 3px;
    font-size: 12px;
    font-weight: 400;
}
.a2 p{
    height:3px;
    font-weight: 700;
    font-size: 1rem;
}
/* PART5 */
.nav-order{
    display: inline;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #ffffff;
    padding-bottom: 6px;
}
.or1 p{
    height: 3px;
    font-size: 12px;
    font-weight: 400;
}
.or2 p{
    height:3px;
    font-weight: 700;
    font-size: 1rem;
}
/* PART6 */
.nav-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6px;
    height:50px;

}
.nav-cart i{
    font-size:22px;
    color:#ffffff;
    height:18px;
}
.nav-cart p{
    margin-left: 4px;
    color:#ffffff;
    font-weight: 700;
    font-size: 1rem;
    height:1px;
}
/* PANEL */
.panel{
    height:39px;
    background-color: #159c68;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
}
.bars{
    width:44px;
    height: 14px;
    padding-left: 2rem;

}
.bars i{
    width: 19px;
}
.bars a{
    font-size: 15px;
    font-weight: 700;
    color:#ffffff;
    text-decoration: none;
}
.option{
    display: flex;
}
.box a{
    color: #ffffff;
    text-decoration: none;
    margin: 5px 0px 6px;
    padding: 8px 9px;
    font-size: 15px;
}
/* HERO_PART */
.hero-part{
    height: 400px;
    background-color:rgb(112, 224, 140);
    background-size: cover;
    background-image: url("hero_img.jpg");
    display: flex;
    align-items: flex-end;
}
.msg{
    height: 40px;
    width:100%;
    background-color: #ffffffef;
    display:flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 2%;
    padding-left: 18%;
}
.msg a{
    color: #007185;
    padding: 0.2%;
}
/* 8_BLOCKS */
.blocks{
    margin-top: 2%;
    height: 900px;
    width:100%;
    background-color: rgb(166, 204, 166);
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: space-evenly; 
}
.boxs{
    margin: 2%;
    height:400px;
    background-color: rgb(223, 217, 217);
    width:290px;
    display: flex;
    flex-direction: column;

}
.title{
    height: 23px;
    font-size: 21px;
    font-weight: 700;
    padding: 6% 7%;
}
.box-img{
    background-size: cover;
    margin-left:20px;
    margin-right: 20px;
}
.box_link{
    height:17px;
    font-size: 13px;
    color:#007185;
    padding:8% 7%;
}
/* FOOTER */
.footer{
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: column;
    background-color: rgb(117, 116, 124);

}
.f1{
    height: 40px;
    width: 100%;
    text-align: center;
    background-color: rgb(105, 102, 102);
    padding-top: 2%;
}
.f1 a{
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
}
.f2{
    height: 300px;
    width:100%;
    display: flex;
    justify-content: space-evenly;

    background-color: rgb(63, 59, 59);
}
.i1{
    display: block;
    height:400px ;
    width:200px;
    text-align: center;
    color: #ffffff;
    padding-top:5% ;
}
.i1 a{
    display: inline;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}
.f3{
    height:113px;
    background-color: rgb(20, 14, 14);
    display: flex;
    display: inline-block;
    justify-content: center;
    text-align: center;
    color:#ffffff;
    font-size: 12px;
    padding-top: 1.5%;
}
